[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dependency = "*"
flask = "*"
gunicorn = "*"
flask-wtf = "*"
email-validator = "*"
flask-session = "*"

[dev-packages]

[requires]
python_version = "3.10"
