<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>

<body>

    <main class="auth-page">
        <div class="principal-login">
            <form action="/auth/login" method="post">

                <!-- <label htmlFor="email">
                    <span>Email</span>
                    <input type="email" id="email" name="email" placeholder="example@gmail.com" />
                </label> -->

                {{form.email.label}}
                {{form.email}}
                {% for error in form.email.errors%}
                <span>{{error}}</span>
                {%endfor%}


                <!-- <label htmlFor="password">
                    <span>Password</span>
                    <input type="password" id="password" name="password" placeholder="********" />
                </label> -->

                {{form.password.label}}
                {{form.password}}
                {% for error in form.password.errors%}
                <span>{{error}}</span>
                {%endfor%}


                {{form.hidden_tag()}}
                <div class="button-link">
                    <button type="submit">Login</button>
                    <a href="/auth/register">Don't you have an account?</a>
                </div>
            </form>


        </div>

    </main>
</body>

</html>