<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}Usuario Existente{% endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/userExist.css')}}">
</head>

<body>
    <main>
        <h1>{%block h1%}Lo sentimos!! este correo ya esta registrado, intenta de nuevo{%endblock%}</h1>
        {%block anchor%}
        <a href="/auth/register">Volver al registro</a>
        {%endblock%}
    </main>

</body>

</html>